.row {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.row a {
    text-decoration: none;
    color: #0e3c29;
}

.product {
    display:flex;
}

.product img {
    width: 150px;
}

.product-text {
    margin-left: 1rem;
    display:flex;
    align-items: center;
}
.product-text span {
    margin-left: 1rem;;
}

.actions {
    display: block;
}
.buttons button {
    margin:5px;
}

