.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 1.5rem auto;
  padding: 10px;
}
.header a {
  color: #0e3c29;
}

.header a:active {
  color: #229364;
}

.active {
  text-decoration: underline;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.badge {
  background-color: #0e3c29;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  color: #fff;
}

@media (max-width: 768px) {
  /* phone size */
}

@media (min-width: 768px) {
  /* phone to tablet */
}

@media (min-width: 992px) {
  /* laptop */
}
